parameters:
  level: max
  paths:
    - includes
  excludePaths:
    - tests
    - includes/Repository/**
    - includes/core/**
    - includes/admin/**
    - includes/class-*.php
    - includes/Configuration/**
  reportUnmatchedIgnoredErrors: false
